.App {
  text-align: center;
}

.main-container {
  color: rgb(188, 191, 204);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__tittle {
  font-size: 4.8rem;
  margin: 0;
  text-align: center;
}
.sub__tittle {
  margin: 0;
}
.icons__info {
  position: absolute;
  bottom: 0;
  color: rgb(188, 191, 204);
}
.icons__info a {
  color: rgb(188, 191, 204);
  margin: 0 5px;
}
@media (max-width: 600px) {
  :root {
    font-size: 8px;
  }
  p.sub__tittle {
    font-size: 2rem;
  }
}
